<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio - Projects</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/skills">Skills</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>

  <section class="projects-page">
    <section class="projects">
      <h2>My Projects</h2>

      <div class="project-card">
        <strong> Sentiment Analysis | NLP </strong>
        <p>
          <li> Built a web-based Sentiment analysis app using the Python, Flask, and HTML/CSS </li>
          <li> It classifies text as positive , negative or neutral </li>
          <li> <a href="https://github.com/Omkamble07/Projects/tree/main/NLP_sentiment_analysis">GitHub</a></li>
        </p>
      </div>

      <div class="project-card">
        <strong>Car Price Predictor | ML</strong>
        <p>
          <li>Built a regression-based machine learning model to estimate car prices using features like brand, model ,
            purchase year, fuel type, and kilometers driven. </li>
          <li>It predict price of the car based on input provided by the user. </li>
          <li><a href="https://github.com/Omkamble07/Projects/tree/main/Car_Price_Predictor">GitHub</a></li>
        </p>
      </div>

      <div class="project-card">
        <strong>AI-based Agriculture Project</strong>
        <p>Uses ML .</p>
      </div>
    </section>

  </section>
</body>

</html>